body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}

.map {
    display: inline-block;
    width: 700px;
    height: 700px;
    background-image: url(../img/food/tileGrass1.png);
    box-shadow: 0 4px 10px #0008;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: none;
    background-position: center;

}
    .food {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;

    }
        .food.offspring {
            width: 8px;
            height: 8px;
            background-image: url(../img/food/smokeWhite4.png);
        }
        .food.young {
            width: 8px;
            height: 8px;
            background-image: url(../img/food/smokeYellow0.png);
        }
        .food.edible {
            width: 8px;
            height: 8px;
            background-image: url(../img/food/treeSmall.png);
        }
        .food.seed {
            width: 8px;
            height: 8px;
            background-image: url(../img/food/smokeOrange0.png);
        }
        .food.empty {
            width: 8px;
            height: 8px;
            background-image: url(../img/food/smokeGrey5.png);
        }
        